openapi: 3.0.3
info:
  title: SpaceX Capsules Ships API
  description: The SpaceX API is an open-source REST API providing comprehensive data about SpaceX missions, rockets, capsules, cores, crew, launchpads, landing pads, payloads, ships, and the Starlink satellite constellation. It covers all past and upcoming launches with detailed mission data. No authentication is required.
  version: 5.0.0
  contact:
    name: SpaceX API Community
    url: https://github.com/r-spacex/SpaceX-API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.spacexdata.com/v5
  description: SpaceX API v5 production server
tags:
- name: Ships
  description: SpaceX fleet ship data
paths:
  /ships:
    get:
      operationId: listShips
      summary: List All Ships
      description: Returns all SpaceX fleet vessels including drone ships, fairing recovery vessels, and crew ships
      tags:
      - Ships
      responses:
        '200':
          description: Array of ship objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ship'
  /ships/{id}:
    get:
      operationId: getShip
      summary: Get Ship
      description: Returns a single ship by its unique ID
      tags:
      - Ships
      parameters:
      - name: id
        in: path
        description: Unique ship identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ship object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ship'
components:
  schemas:
    Ship:
      type: object
      description: A SpaceX fleet vessel
      properties:
        id:
          type: string
          description: Unique ship identifier
        name:
          type: string
          description: Ship name
        legacy_id:
          type: string
          nullable: true
          description: Legacy identifier from previous API versions
        model:
          type: string
          nullable: true
          description: Ship model/class
        type:
          type: string
          description: Ship type (Drone Ship, Crew Ship, Support, Tug, Barge)
        roles:
          type: array
          description: Ship operational roles
          items:
            type: string
        active:
          type: boolean
          description: Whether ship is currently active
        imo:
          type: integer
          nullable: true
          description: IMO vessel number
        mmsi:
          type: integer
          nullable: true
          description: MMSI maritime identifier
        abs:
          type: integer
          nullable: true
          description: ABS vessel number
        class:
          type: integer
          nullable: true
          description: Ship class code
        mass_kg:
          type: number
          nullable: true
          description: Ship mass in kilograms
        mass_lbs:
          type: number
          nullable: true
          description: Ship mass in pounds
        year_built:
          type: integer
          nullable: true
          description: Year the ship was built
        home_port:
          type: string
          description: Home port location
        status:
          type: string
          nullable: true
          description: Current operational status
        speed_kn:
          type: number
          nullable: true
          description: Current speed in knots
        course_deg:
          type: number
          nullable: true
          description: Current course in degrees
        latitude:
          type: number
          nullable: true
          description: Current latitude
        longitude:
          type: number
          nullable: true
          description: Current longitude
        link:
          type: string
          format: uri
          nullable: true
          description: MarineTraffic or vessel tracking link
        image:
          type: string
          format: uri
          nullable: true
          description: Ship image URL
        launches:
          type: array
          description: Launch IDs this ship supported
          items:
            type: string
externalDocs:
  description: SpaceX API GitHub Repository
  url: https://github.com/r-spacex/SpaceX-API
