openapi: 3.0.3
info:
  title: SpaceX Capsules Launchpads API
  description: The SpaceX API is an open-source REST API providing comprehensive data about SpaceX missions, rockets, capsules, cores, crew, launchpads, landing pads, payloads, ships, and the Starlink satellite constellation. It covers all past and upcoming launches with detailed mission data. No authentication is required.
  version: 5.0.0
  contact:
    name: SpaceX API Community
    url: https://github.com/r-spacex/SpaceX-API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.spacexdata.com/v5
  description: SpaceX API v5 production server
tags:
- name: Launchpads
  description: SpaceX launch site data
paths:
  /launchpads:
    get:
      operationId: listLaunchpads
      summary: List All Launchpads
      description: Returns all SpaceX launch sites and their current operational status
      tags:
      - Launchpads
      responses:
        '200':
          description: Array of launchpad objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Launchpad'
  /launchpads/{id}:
    get:
      operationId: getLaunchpad
      summary: Get Launchpad
      description: Returns a single launchpad by its unique ID
      tags:
      - Launchpads
      parameters:
      - name: id
        in: path
        description: Unique launchpad identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Launchpad object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Launchpad'
components:
  schemas:
    Launchpad:
      type: object
      description: A SpaceX launch site
      properties:
        id:
          type: string
          description: Unique launchpad identifier
        name:
          type: string
          description: Launchpad short name (e.g., KSC LC 39A)
        full_name:
          type: string
          description: Full launchpad name
        status:
          type: string
          description: Operational status (active, inactive, retired, lost, under construction)
        locality:
          type: string
          description: City or locality
        region:
          type: string
          description: State or region
        latitude:
          type: number
          description: Geographic latitude
        longitude:
          type: number
          description: Geographic longitude
        launch_attempts:
          type: integer
          description: Total launch attempts from this pad
        launch_successes:
          type: integer
          description: Successful launches from this pad
        rockets:
          type: array
          description: Rocket IDs that have launched from this pad
          items:
            type: string
        launches:
          type: array
          description: Launch IDs from this pad
          items:
            type: string
externalDocs:
  description: SpaceX API GitHub Repository
  url: https://github.com/r-spacex/SpaceX-API
